*{
    margin: 0;
    padding: 0;
  }
  
  .btn-new-user{
        margin-top: 7px !important;
  }

  .mb{
        margin-bottom: 30px;
  }
  .mini-btn{
      margin-right: 10px;
  }

  body{
    background-color: #eee;
  }
  
  .container{
      /* margin-left: 300px;
      transition: margin-left .2s ease-in; */
      margin-left: 80px;
  }
  
  .container.inactive{
      /* margin-left: 80px; */
  }
  .label {
    width: 100%;
    text-align: left;
  }